/* headerType */
.header__wrap {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background: #4461F2;
    backdrop-filter: blur(10px);
    border-radius: 0 0 20px 20px;
}

.header__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    box-sizing: border-box;
}

.header__logo {
    width: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header__logo img {
    width: 80px;
    align-items: center;
    text-align: center;
}

.header__menu {
    width: 65%;
    text-align: center;
}

.header__menu li {
    display: inline;
    float: left;
}

.header__menu li a {
    padding: 0 15px;
    margin: 0 5px;
    transition: all 0.3s;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.header__menu li a:hover {
    color: #fff;
}

.header__menu ul li.active a {
    color: #fff;
}

.header__menu .subMenu {
    position: absolute;
    content: '';
    top: 0px;
    left: 20px;
    width: 100%;
    display: none;
    /* margin-top: 30px; */
}

.header__menu .subMenu li {
    display: flex;
    margin-bottom: 10px;
    z-index: 9999;
}

.header__menu .subMenu li a {
    color: #333;
    padding: 20px 0 10px 0;
    margin: 0;
}

.header__menu .subMenu li:last-child a {
    padding: 0;
}

.header__member {
    width: 25%;
    margin-right: 10px;
}

.header__member li {
    display: inline;
    float: right;
}

.header__member li a {
    padding: 0 10px;
    margin: 0 5px;
    transition: all 0.3s;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.header__member li a:hover {
    color: #fff;
}

.header__member ul li.active a {
    color: #fff;
}

.header__search {
    width: 30%;
    height: 42px;
    float: right;
    position: relative;
}

.header__search legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.header__search #searchKeyword {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 13px 20px;
    font-size: 0.875rem;
    border-radius: 50px;
    box-sizing: border-box;
    background: none;
    transition: all 0.3s;
}

.header__search:hover #searchKeyword {
    border: 1px solid #fff;
}

.header__search input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.header__search .searchBtn img {
    position: absolute;
    content: '';
    right: 20px;
    top: 11px;
    width: 20px;
    height: 20px;
}

.header__ham {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header__ham span {
    display: block;
    background: #666;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.25s margin 0.25s, 0.25s transform;
}

.header__ham span:nth-child(1) {
    margin-top: 17px;
}

.header__ham.active span {
    /* 시간 transform 딜레이 */
    transition: 0.25s margin, 0.25s transform 0.25s;
}

.header__ham.active span:nth-child(1) {
    margin-top: 25px;
    margin-bottom: -7px;
    transform: rotate(45deg);
}

.header__ham.active span:nth-child(2) {
    transform: rotate(45deg);
}

.header__ham.active span:nth-child(3) {
    margin-top: -2px;
    transform: rotate(135deg);
}

/* @media (max-width: 1280px) {
    .header__inner {
        padding: 40px;
    }

    .header__search {
        display: none;
    }

    .header__menu {
        width: 70%;
    }

    .header__member {
        width: 20%;
    }
}

@media (max-width: 960px) {
    .header__logo {
        width: 100%;
    }

    .header__menu {
        display: none;
    }

    .header__member {
        display: none;
    }

    .header__ham {
        display: block;
    }
} */

/* faq */
.faq__header {
    padding: 0 50px;
    padding-top: 150px;
}

.faq__header h2 {
    font-size: 100px;
    font-weight: 800;
    color: #eee;
    position: relative;
}

.faq__header span {
    font-size: 200px;
    font-weight: 800;
    color: rgba(238, 238, 238, 0.1);
    position: absolute;
    left: 60px;
    bottom: 30px;
}

.faq__header .link {
    margin-top: 10px;
}

.faq__header .link ul {}

.faq__header ul li {
    float: left;
    padding: 10px 20px;
    position: relative;
}

/* .faq__header ul li::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    display: none;
}
.faq__header ul li.active::before {
    display: block;
} */
.faq__header ul li.active a {
    color: #fff;
    font-weight: 600;
}

.faq__header ul li::after {
    position: absolute;
    content: '';
    top: 5px;
    right: 7px;
    width: 6px;
    height: 6px;
    background-color: #ffffff9f;
    border-radius: 50%;
    display: none;
}

.faq__header ul li.active::after {
    display: block;
}

.faq__header ul li a {
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1280px) {
    .header__inner {
        padding: 20px;
    }

    .header__search {
        display: none;
    }
}

@media (max-width: 1100px) {
    .header__logo {
        width: 100%;
    }

    .header__menu {
        position: fixed;
        top: 69px;
        right: -100%;
        /* background: rgb(113, 113, 113); */
        width: 60%;
        height: 100vh;
        padding: 20px;
        text-align: right;
        transition: right 0.4s ease-in;
        background: #fff;
        z-index: 9999;
    }

    .header__menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .header__menu ul li {
        width: 100%;
        margin: 20px;
    }

    .header__menu ul li a {
        padding: 10px;
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 700;
        color: #ccc;
    }

    .header__menu ul li a:hover {
        color: #000;
    }

    .header__menu.active {
        right: 0;
    }

    .header__menu .subMenu {
        position: absolute;
        content: '';
        top: 0px;
        right: 0px;
        width: 100%;
        display: none;
    }

    .header__menu .subMenu li {
        display: flex;
        margin-bottom: 10px;
    }

    .header__menu .subMenu li a {
        color: #333;
        padding: 20px 0 10px 0;
        margin: 0;
    }

    .header__menu .subMenu li:last-child a {
        padding: 0;
    }

    .header__member {
        display: none;
    }

    .header__ham {
        display: block;
    }
}