#myPage {
    margin-top: 80px;
}
.myPage__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
}
.myPage__header .right {
    display: flex;
    align-items: center;
}
.right img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.right h2 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 800;
}
.right a {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6656 1.5625C14.831 1.56251 14.9922 1.61501 15.1258 1.71244C15.2595 1.80988 15.3588 1.94722 15.4094 2.10469L16.2688 4.775C16.6297 4.95156 16.975 5.15 17.3047 5.37344L20.0485 4.78281C20.2102 4.74827 20.3788 4.76597 20.5299 4.83337C20.6809 4.90076 20.8067 5.01436 20.8891 5.15781L23.0547 8.90625C23.1374 9.04962 23.1724 9.21555 23.1547 9.38011C23.137 9.54467 23.0675 9.69936 22.9563 9.82187L21.0735 11.9C21.1009 12.2985 21.1009 12.6984 21.0735 13.0969L22.9563 15.1781C23.0675 15.3006 23.137 15.4553 23.1547 15.6199C23.1724 15.7845 23.1374 15.9504 23.0547 16.0938L20.8891 19.8437C20.8065 19.9869 20.6806 20.1002 20.5296 20.1673C20.3785 20.2344 20.2101 20.2519 20.0485 20.2172L17.3047 19.6266C16.9766 19.8484 16.6297 20.0484 16.2703 20.225L15.4094 22.8953C15.3588 23.0528 15.2595 23.1901 15.1258 23.2876C14.9922 23.385 14.831 23.4375 14.6656 23.4375H10.3344C10.169 23.4375 10.0079 23.385 9.8742 23.2876C9.74054 23.1901 9.64125 23.0528 9.59064 22.8953L8.73283 20.2266C8.37286 20.0505 8.02566 19.8495 7.69377 19.625L4.95158 20.2172C4.78981 20.2517 4.62124 20.234 4.47017 20.1666C4.31911 20.0992 4.19333 19.9856 4.11095 19.8422L1.94533 16.0938C1.86263 15.9504 1.82761 15.7845 1.8453 15.6199C1.86299 15.4553 1.93249 15.3006 2.04377 15.1781L3.92658 13.0969C3.89931 12.6994 3.89931 12.3006 3.92658 11.9031L2.04377 9.82187C1.93249 9.69936 1.86299 9.54467 1.8453 9.38011C1.82761 9.21555 1.86263 9.04962 1.94533 8.90625L4.11095 5.15625C4.19355 5.01308 4.31943 4.8998 4.47048 4.8327C4.62153 4.7656 4.78997 4.74813 4.95158 4.78281L7.69377 5.375C8.02502 5.15156 8.37189 4.95 8.73283 4.77344L9.5922 2.10469C9.64265 1.94773 9.74146 1.81075 9.8745 1.71336C10.0075 1.61597 10.168 1.56317 10.3328 1.5625H14.6641H14.6656ZM14.0938 3.125H10.9063L10.0188 5.88594L9.42033 6.17812C9.12614 6.32209 8.84214 6.48601 8.57033 6.66875L8.0172 7.04375L5.1797 6.43125L3.58595 9.19375L5.53127 11.3469L5.48439 12.0094C5.46194 12.3361 5.46194 12.6639 5.48439 12.9906L5.53127 13.6531L3.58283 15.8063L5.17814 18.5687L8.01564 17.9578L8.56877 18.3313C8.84058 18.514 9.12458 18.6779 9.41877 18.8219L10.0172 19.1141L10.9063 21.875H14.0969L14.9875 19.1125L15.5844 18.8219C15.8783 18.6782 16.1618 18.5143 16.4328 18.3313L16.9844 17.9578L19.8235 18.5687L21.4172 15.8063L19.4703 13.6531L19.5172 12.9906C19.5397 12.6634 19.5397 12.335 19.5172 12.0078L19.4703 11.3453L21.4188 9.19375L19.8235 6.43125L16.9844 7.04063L16.4328 6.66875C16.1618 6.48565 15.8783 6.32171 15.5844 6.17812L14.9875 5.8875L14.0953 3.125H14.0938ZM12.5 7.8125C13.7432 7.8125 14.9355 8.30636 15.8146 9.18544C16.6937 10.0645 17.1875 11.2568 17.1875 12.5C17.1875 13.7432 16.6937 14.9355 15.8146 15.8146C14.9355 16.6936 13.7432 17.1875 12.5 17.1875C11.2568 17.1875 10.0645 16.6936 9.18545 15.8146C8.30638 14.9355 7.81252 13.7432 7.81252 12.5C7.81252 11.2568 8.30638 10.0645 9.18545 9.18544C10.0645 8.30636 11.2568 7.8125 12.5 7.8125V7.8125ZM12.5 9.375C11.6712 9.375 10.8764 9.70424 10.2903 10.2903C9.70426 10.8763 9.37502 11.6712 9.37502 12.5C9.37502 13.3288 9.70426 14.1237 10.2903 14.7097C10.8764 15.2958 11.6712 15.625 12.5 15.625C13.3288 15.625 14.1237 15.2958 14.7097 14.7097C15.2958 14.1237 15.625 13.3288 15.625 12.5C15.625 11.6712 15.2958 10.8763 14.7097 10.2903C14.1237 9.70424 13.3288 9.375 12.5 9.375V9.375Z' fill='%23333333'/%3e%3c/svg%3e");
}
.left {
    width: 90px;
}
.left span {
    width: 25px;
    height: 25px;
    position: relative;
}
.left span::before {
    position: absolute;
    content: '';
    left: -30px;
    top: -5px;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5003 2.0835C11.3953 2.0835 10.3354 2.52248 9.55405 3.30388C8.77265 4.08529 8.33366 5.14509 8.33366 6.25016C8.33366 7.35523 8.77265 8.41504 9.55405 9.19644C10.3354 9.97784 11.3953 10.4168 12.5003 10.4168C13.6054 10.4168 14.6652 9.97784 15.4466 9.19644C16.228 8.41504 16.667 7.35523 16.667 6.25016C16.667 5.14509 16.228 4.08529 15.4466 3.30388C14.6652 2.52248 13.6054 2.0835 12.5003 2.0835ZM10.417 6.25016C10.417 5.69763 10.6365 5.16772 11.0272 4.77702C11.4179 4.38632 11.9478 4.16683 12.5003 4.16683C13.0529 4.16683 13.5828 4.38632 13.9735 4.77702C14.3642 5.16772 14.5837 5.69763 14.5837 6.25016C14.5837 6.8027 14.3642 7.3326 13.9735 7.7233C13.5828 8.114 13.0529 8.3335 12.5003 8.3335C11.9478 8.3335 11.4179 8.114 11.0272 7.7233C10.6365 7.3326 10.417 6.8027 10.417 6.25016ZM17.7087 12.5002H7.29199C6.46319 12.5002 5.66833 12.8294 5.08228 13.4155C4.49623 14.0015 4.16699 14.7964 4.16699 15.6252C4.16699 17.9502 5.12324 19.8127 6.69199 21.0731C8.23574 22.3127 10.3066 22.9168 12.5003 22.9168C14.6941 22.9168 16.7649 22.3127 18.3087 21.0731C19.8753 19.8127 20.8337 17.9502 20.8337 15.6252C20.8337 14.7964 20.5044 14.0015 19.9184 13.4155C19.3323 12.8294 18.5375 12.5002 17.7087 12.5002ZM7.29199 14.5835H17.7087C17.9849 14.5835 18.2499 14.6932 18.4452 14.8886C18.6406 15.0839 18.7503 15.3489 18.7503 15.6252C18.7503 17.3272 18.0732 18.5897 17.0045 19.4481C15.9087 20.3272 14.3337 20.8335 12.5003 20.8335C10.667 20.8335 9.09199 20.3272 7.99616 19.4481C6.92741 18.5897 6.25033 17.3272 6.25033 15.6252C6.25033 15.3489 6.36007 15.0839 6.55542 14.8886C6.75077 14.6932 7.01572 14.5835 7.29199 14.5835Z' fill='%23333333'/%3e%3c/svg%3e");
}
.left p {
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
}
.myPage__contents {
    margin-top: 30px;
    margin-bottom: 30px;
}
.myPage__contents ul {
    height: 38px;
    position: relative;
}
.myPage__contents ul::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #E3E6EB;
    z-index: -1;
}
.myPage__contents ul li {
    float: left;
    padding: 10px 20px;
    position: relative;
}
.myPage__contents ul li::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #4461F2;
    display: none;
}
.myPage__contents ul li.active::after {
    display: block;
}
.myPage__contents ul li a {
    font-size: 16px;
    font-weight: 700;
}
.myPage__contents .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 30px;
    box-sizing: border-box;
}
.list .card {
    width: 31%;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: all 0.3s;
}
.list .card:hover {
    box-shadow: 5px 5px 30px 3px #4461f22f;
    scale: 1.02;
}
.list .card img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.modify__Nbtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.2rem 8rem;
    border-radius: 10px;
    background-color: #4461f2;
    color: #fff;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}






/* modify__inner */
.myPageModify__header {
    padding-top: 120px;
    margin-bottom: 30px;
}
.myPageModify__header h2 {
    font-size: 30px;
    font-weight: 800;
}
.myPage__inner {
    margin-bottom: 80px;
}
.myPage__inner legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden
}

.join__box>div {
    margin-bottom: 4rem;
    border-bottom: 1px solid #E3E6EB;
}

.join__box>div:last-child {
    border: 0;
}

.youInfo {
    margin-top: 40px;
}

.youInfo>div, .storeInfo>div, .moreover>div {
    margin-bottom: 2rem;
}

.youInfo>div:last-child, .storeInfo>div:last-child {
    margin-bottom: 4rem;
}

.moreover>div:last-child {
    margin-bottom: 1rem;
}

.modify__box label {
    display: block;
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.modify__box input {
    border: 0;
    background-color: #F9FAFC;
    width: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    box-sizing: border-box;
}
.modify__box .disabled input {
    background-color: #eee;
}

.modify__box .overlap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.overlap label {
    width: 100%;
}

.overlap input {
    width: 78%;
}

.overlap .check {
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 65px;
    background-color: #4461f22f;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
}

.overlap .check:hover {
    background-color: #4461f2;
}

.modify__box .msg {
    width: 100%;
    padding: 5px;
    color: red;
}

.moreover {
    border-bottom: 0;
}


 


.youGd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.youGd label {
    display: block;
    width: 100%;
}

.youGd .btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 11.8rem;
    border: 1px solid #E3E6EB;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 60px;
}

.youGd .btn:hover {
    border: 1px solid #4461f2;
}

.youGd .btn.active {
    border: 1px solid #4461f2;
    background-color: #4461f22f;
    color: #4461f2;
}

.youGd .btn img {
    width: 10rem;
    margin-top: -20px;
    margin-bottom: 20px;
}

.youGd .btn span {
    font-weight: 700;
    font-size: 1.1rem;
}