/* intro */
.intro__wrap {
}
.intro__inner {
  width: 100%;
  background: #4461f2;
  margin-top: 75px;
}
.intro__cont {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.intro__inner .intro__cont .intro__img {
  width: 30%;
}
.intro__inner .intro__cont .intro__img .img__Background {
  position: relative;

  background: url(../img/intro_img/gradiant_e.svg) no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
}
.intro__inner .intro__img .img__Background .img1 {
  position: absolute;
  background: url(../img/intro_img/sandclock.svg) no-repeat;
  background-size: contain;
  width: 190px;
  height: 190px;
  top: 1px;
  left: 1px;
}
.intro__inner .intro__img .img__Background .img2 {
  position: absolute;
  background: url(../img/intro_img/papertray.svg) no-repeat;
  background-size: contain;
  width: 190px;
  height: 190px;
  top: 1px;
  left: 200px;
}
.intro__inner .intro__img .img__Background .img3 {
  position: absolute;
  background: url(../img/intro_img/pin.svg) no-repeat;
  background-size: contain;
  width: 190px;
  height: 190px;
  top: 150px;
  left: 100px;
}
.intro__inner .intro__desc {
  position: relative;
  color: #fff;
  width: 60%;
}

.intro__inner .intro__desc h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}
.intro__inner .intro__desc h2 {
  position: absolute;
  top: -30px;
  left: -68px;
  font-size: 65px;
  font-weight: 700;
  opacity: 0.15;
}

.intro__inner .intro__desc p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  word-break: keep-all;
}

/* sliderIntro */
.sliderIntro__inner {
  margin-top: 100px;
}
.sliderIntro__slide {
  overflow:hidden;
  width: 100%;
  padding: 50px;

}

.sliderIntro__desc h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #4461F2;
  text-align: right;
}

.sliderIntro__desc p {
  float: right;
  width: 600px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 80px;
  color: #4461F2;
  text-align: right;
  line-height: 1.5;
}
.slider__box {
  width: 600vh;
  display: flex;
  flex-wrap: wrap;
  animation: bannermove 20s linear infinite;
}
@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

.sliderIntro__slide .slider__box .slide1{
  background: url(../img/store1.jpg);
  width: 50vh;
  height: 50vh;
  background-size: contain;
  border-radius: 10px;
  margin: 5vh;
}
.sliderIntro__slide .slider__box .slide2{
  background: url(../img/store2.jpg);
  width: 50vh;
  height: 50vh;
  background-size: contain;
  border-radius: 10px;
  margin: 5vh;
}
.sliderIntro__slide .slider__box .slide3{
  background: url(../img/store3.jpg);
  width: 50vh;
  height: 50vh;
  background-size: contain;
  border-radius: 10px;
  margin: 5vh;
}
.sliderIntro__slide .slider__box .slide4{
  background: url(../img/store4.jpg);
  width: 50vh;
  height: 50vh;
  background-size: contain;
  border-radius: 10px;
  margin: 5vh;
}
.sliderIntro__slide .slider__box .slide5{
  background: url(../img/store5.jpg);
  width: 50vh;
  height: 50vh;
  background-size: contain;
  border-radius: 10px;
  margin: 5vh;
}

