* {
    font-family: 'NanumSquare';
}

#board h2 {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.board__wrap {
    max-width: 1400px;
    margin: 0 auto;
}

.board__inner {
    position: relative;
    padding: 120px 0;
}

/* .board__inner::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -8px;
} */

.board__search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    margin-bottom: 20px;
    align-items: flex-end;
}

.board__search .left em {
    color: red;
}

.board__search .left legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.board__search .left #searchKeyword {
    border: 1px solid #194330;
    padding: 7px 25px;
    font-size: 1rem;
    color: #666;
    box-sizing: border-box;
}

.board__search .left #searchOption {
    border: 1px solid #194330;
    padding: 7px 10px;
    font-size: 1rem;
    color: #666;
    box-sizing: border-box;
}
.board__search .left .searchBtn{
    position: relative;
}
.board__search .left .searchBtn img {
    position: absolute;
    content: '';
    top: -16px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.board__search .btn {
    background: #363636;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box;
    color: #fff;
}

.board__table table {
    border-top: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
}

.board__table td,
.board__table th {
    border-color: #C6C6C6;
    border-width: 0 0 1px 0;
    padding: 20px 5px;
    border-style: solid;
}

.board__table th {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.board__table td {
    text-align: center;
    color: rgba(33, 33, 33, 0.4);
    font-size: 12px;

}

.board__table td.title {
    text-align: left;
    color: #000;
    font-size: 18px;
}

.board__table tr:hover {
    background-color: rgba(222, 241, 234, 0.719)
}

.board__table .notice {
    background: rgba(235, 235, 235, 0.5);
}
.board__table .thead {
    pointer-events: none;
}


.board__pages {
    margin: 30px 0 50px;
}

.board__pages ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board__pages ul li a {
    padding: 13px 10px;
    margin-right: -1px;
}

.board__pages ul li.active a {
    background: #666;
    color: #fff;
}
.board__view h3{
    font-size: 19px;
    color: #000;
    margin-bottom: 20px;
}
.board__view__head{
    align-items: center;
    display: flex;
    padding-bottom: 18px;
    border-bottom: 1px solid #c6c6c6;
    position: relative;
}
.board__view__head p{
    position: absolute;
    top: 3px;
    left: 57px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.board__view__head span{
    font-size: 13px;
    margin-right: 10px;
    padding-top: 15px;
    color: #666;
}
.board__view__head img{
    width: 100%;
    border-radius: 50%;
    margin-right: 17px;
    width: 40px;
    height: 40px;
    background-color: #000;
}
.board__view__contents{
    margin-top: 40px;
    margin-bottom: 20px;
}
.board__view__contents p {
    margin-bottom: 40px;
}
.board__view__contents span{
    font-size: 20px;
}
.board__view__contents .tool{
    float: right;

}
.board__view__comment{
    display: flex;
    font-size: 13px;
    padding: 18px 0;
    border-bottom: 1px solid #C6C6C6;
}
.board__view__comment.last{
    border: 0;
}
.board__view__comment .name{
    color: #000;
    font-size: 14px;
}
.bvcc{
    font-size: 20px;
    line-height: 2.2;
    margin-right: 20px;
}
.board__view__comment img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.board__view__comment div{
    margin-bottom: 5px;
}
.board__view__comment__modify{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    color: #666;
}
.board__view__comment__write{
    margin-top: 10px;
    position: relative;
    margin-bottom: 30px;
}
.board__view__comment__write input{
    height: 35px;
    margin-bottom: 10px;
}
.board__view__comment__write textarea{
    width: 100%;
    height: 140px;
}
.board__view__comment__write__imging{
    position: absolute;
    left: 15px;
    bottom: 20px;
    font-size: 20px;
}
.board__view__comment__write__btn{
    position: absolute;
    right: 15px;
    bottom: 20px;
    background-color: #363636;
    color: #fff;
    width: 66px;
    text-align: center;
    height: 32px;
    line-height: 2.5;
    font-size: 13px;
}
.board__view__updownlist{
    border-top: 1px solid #c6c6c6;
    margin-bottom: 15px;
}
.board__view__updownlist span{
    margin-right: 20px;
    margin-left: 10px;
}
.board__view__updownlist div{
    border-bottom: 1px solid #C6C6C6;
    padding: 10px 0;
    font-size: 14px;
}
.board__view__btn a{
    margin: 5px;
    display: block;
    right: 15px;
    bottom: 20px;
    background-color: #363636;
    color: #fff;
    width: 66px;
    text-align: center;
    height: 32px;
    line-height: 2.5;
    font-size: 13px;
}
.board__view__btn .modify{
    float: right;
}
.board__view__btn .delete{
    float: right;
}
.board__btn {
    text-align: right;
}

.board__btn a {
    background: #F4F2FF;
    border: 1px solid #C6C6C6;
    color: #000;
    padding: 13px 30px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 20px;
}

/* boardWrite */
.board__writeInner {
    padding-top: 30px;
    padding-bottom: 170px;
    box-sizing: border-box;
}
.board__write {
    width: 1140px;
    height: 728px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.board__write legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.board__write label {
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    background-color: #F4F2FF;
}

.board__write input {
    border: 1px solid #c6c6c6;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.board__write textarea {
    border: 1px solid #c6c6c6;
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
    font-weight: 300;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 10px;
}

.board__write .btn {
    background: #F4F2FF;
    border: 1px solid #C6C6C6;
    color: #000;
    padding: 13px 30px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 20px;
    float: right;
    cursor: pointer;
    margin-left: 10px;
}

.board__modify legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.board__modify label {
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    background-color: #F4F2FF;
}

.board__modify input {
    border: 1px solid #c6c6c6;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.board__modify .input {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.board__modify textarea {
    border: 1px solid #c6c6c6;
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
    font-weight: 300;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 10px;
}

.board__modify .btn {
    background: #F4F2FF;
    border: 1px solid #C6C6C6;
    color: #000;
    padding: 13px 30px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    float: right;
    cursor: pointer;
}

.board__modify__fieldset__div {
    display: flex;
}


.board__title h3 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 30px;
    color: #194330;
    text-shadow: -1px 0 #194330, 0 1px #194330, 1px 0 #194330, 0 -1px #194330;
}


.board__title h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2.4em;
    color: #F7CAC9;
    /* text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555; */
}

.board__title p {
    font-weight: 900;
    font-size: 19px;
    color: #194330;
    margin-bottom: 40px;
    
}