
.peace{
    font-family: 'PyeongChangPeace';
    font-weight: 300;
}
.peaceBold{
    font-family: 'PyeongChangPeace';
    font-weight: 700;
}
.sy {
    font-family: 'UhBeenamsoyoung';
    font-weight: 400;
}

.title {
    font-family: 'PyeongChangPeace';
    font-weight: 700;
    font-size: 40px;
}
.contains{
    display: flex;
    
}

.section1,
.section2,
.section3 {
  width: 33.333%;
  text-align: center;
}

.section1{
    background: #F84364;
    color: #f5f5f5;
}

.section2{
    background: #2A6C59;
    color: #f5f5f5;
}

.section3{
    background: #8C72CB;
    color: #F9ECE5;
}

h2 {
    font-size: 30px;
}
.contents > h3 {
    font-family: 'PyeongChangPeace';
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    padding: 20px 10px;

}
.contents ul li {
    text-align: left;
    font-size: 16px;
    margin-bottom: 40px;
    padding: 0 30px;

}

.contents {
    margin: 40px;
    padding: 30px 30px;
    height: 80%;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    font-size: 20px;
}
.contents a {
    color: #F9ECE5;
    margin-bottom: 40px;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1px dashed #F9ECE5;
}
