/* header */
#header {}
.header__wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.header__inner {
    padding-top: 20px;
}
.header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__top .left {
    display: flex;
}
.header__top .right {
    display: flex;
}
.header__icon {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.header__top .right:last-child {
    margin-right: 0;
}
.i1 {
    background-image: url(../img/header__icon.svg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.i2 {
    background-image: url(../img/header__icon.svg);
    background-position: -28px 10px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.i3, .i4 {
    padding: 10px 20px;
}
.i5 {
    background-image: url(../img/header__icon.svg);
    background-position: -67px 10px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 0;
}
.header__logo {
    text-align: center;
    margin-bottom: 20px;
}
.header__logo h2 {
    font-weight: 700;
    font-size: 60px;
    color: #F7CAC9;
    text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
.header__menu {
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}
.header__menu ul {
    text-align: center;
}
.header__menu ul li {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-right: 100px;
}
.header__menu ul li:last-child {
    margin-right: 0;
}
